[href*="youtube.com"] {
    color: green;
  }

button:hover {
    color: #1b877e;
    cursor: pointer;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.7);
}
table, th, tr , td {
    table-layout: fixed;
   border: 2px solid black;
   border-collapse: collapse;
   width: 50%;
}

tr:nth-child(2n) {
    background: rgb(195, 170, 97);
}

.opa {
    color: black;
    opacity: 0.4;
}

p{
    font-size: 40px;
}

p::before {
    content: open-quote;
    color:green;
    font-size: 40px;
}
p::after {
    content: close-quote;
    color:green;
    font-size: 40px;
}

h1::first-letter {
    font-size: 330%;
}

h1::first-line {
    background-color: aqua;
}

article > p {
    color: blueviolet;
}

h2 ~ p {
    color: bisque;
}