body {
    
    height: 100vh;
    
}
.container {
    height: 100%;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 10% 80% 10%;
    
    
    
    
}

.container header {
    background-color: aqua;
    border: 2px solid black;
    grid-column: 1 / -1;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    
   
    
}

.container aside {
    background: pink;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
}

.container main {
    background: tomato;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.container footer {
    background: yellowgreen;
    border: 2px solid black;
    grid-column: 1 / -1;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}